@model CreateClientViewModel
@using IdentityServer.Areas.HeliosAdminUI.Models.Clients.Assets
@section style{

    <link href="~/css/TagsInput.css" rel="stylesheet" />
}
@{
    if (ViewBag.isSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Your new identity resource has been added successfully. <br />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<a asp-action="GetAll" class="btn btn-primary mb-3"> <i class="bi bi-arrow-left-circle-fill"></i> Go back </a>


<div id="accordion">
    <form method="post" asp-controller="Clients" asp-action="Create">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h3 class="mb-0">
                    <button class="btn w-100" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong class="h5"> Basics <i class="bi bi-caret-down-fill"></i> </strong>
                    </button>
                </h3>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="ClientBasics.ClientId" class="col-form-label"> </label>
                            <div class="tooltip">
                                <i class="bi bi-info-circle ml-2 text-info cursor-pointer"></i>
                                <span class="tooltiptext">Tooltip text</span>
                            </div>
                            <div>
                                <input asp-for="ClientBasics.ClientId" class="form-control" />
                            </div>
                            <span class="text-danger" asp-validation-for="ClientBasics.ClientId"></span>
                        </div>

                        <div class="form-group col-6">
                            <label asp-for="ClientBasics.ClientName" class="col-form-label"></label>
                            <div>
                                <input asp-for="ClientBasics.ClientName" class="form-control" />
                            </div>
                            <span class="text-danger" asp-validation-for="ClientBasics.ClientName"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            <label asp-for="ClientBasics.ClientSecret" class="col-form-label"></label>
                            <div class="d-flex align-items-center">
                                <input asp-for="ClientBasics.ClientSecret" class="form-control w-50 mr-2" />
                                <span class="text-success d-inline">Make sure to <strong>keep a record</strong> of your secret somewhere.</span>
                            </div>
                            <span class="text-danger" asp-validation-for="ClientBasics.ClientSecret"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn collapsed w-100" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong class="h5">Uris <i class="bi bi-caret-down-fill"></i></strong>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-4">
                            <label asp-for="ClientBasics.RedirectUris" class="col-form-label"></label>
                            <div class="input-group">
                                <input asp-for="ClientBasics.RedirectUris" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text">/signin-oidc</span>
                                </div>
                            </div>
                            <span class="text-danger" asp-validation-for="ClientBasics.RedirectUris"></span>
                        </div>

                        <div class="form-group col-4">
                            <label asp-for="ClientAuthentificationLogout.FrontChannelLogoutUri" class="col-form-label"></label>
                            <div class="input-group">
                                <input asp-for="ClientAuthentificationLogout.FrontChannelLogoutUri" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text">/signout-oidc</span>
                                </div>
                            </div>
                            <span class="text-danger" asp-validation-for="ClientAuthentificationLogout.FrontChannelLogoutUri"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="ClientAuthentificationLogout.PostLogoutRedirectUris" class="col-form-label"></label>
                            <div class="input-group">
                                <input asp-for="ClientAuthentificationLogout.PostLogoutRedirectUris" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text">/signout-callback-oidc</span>
                                </div>
                            </div>
                            <span class="text-danger" asp-validation-for="ClientAuthentificationLogout.PostLogoutRedirectUris"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn w-100 collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong class="h5">Grants & Scopes <i class="bi bi-caret-down-fill"></i></strong>
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                <div class="card-body">
                    <div class="row">
                        <div class=" form-group col-6">
                            <label asp-for="ClientBasics.AllowedGrantTypes" class="col-form-label"></label>
                            <div>
                                <select asp-for="ClientBasics.GrantTypesKey" asp-items="Model.ClientBasics.GrantTypesList"></select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class=" form-group col-6">
                            <label asp-for="ClientBasics.AllowedScopes" class="col-form-label h5"></label>
                            <p><u>Add default scopes by clicking on it:</u></p>
                            @foreach (var scope in Model.ClientBasics.StandardScopes)
                            {
                                <button type="button" class="btn btn-outline-primary scope-toggler" value="@scope">@scope</button>
                            }
                            <br />
                            <p><u>Create new custom scopes:</u></p>
                            <div class="keyHandler d-flex">
                                <button class="btn centered" type="button" id="addKey"> <i class="bi bi-plus"></i> </button>
                                <input type="text" placeholder="Keyword + Enter" id="keysInput">
                            </div>
                            <div class="addedKeysHolder"></div>


                            <!-- Just give this input the name="etc" attribute -->
                            <input id="tag-holder" asp-for="ClientBasics.AllowedScopesString" type="hidden">
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-2">
                            <button class="btn btn-success btn-block">Create <i class="bi bi-check-square ml-1"></i></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/site.js")"></script>
}