@model CreateRoleViewModel
@section style{

    <link href="~/css/TagsInput.css" rel="stylesheet" />
}
@{
    if (ViewBag.isSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Your new Role has been added successfully. <br />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    if (ViewBag.error == true)
    {
        <div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" asp-validation-summary="All">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    }
}

<a asp-action="GetAllRoles" class="btn btn-primary mb-3"> <i class="bi bi-arrow-left-circle-fill"></i> Go back to List </a>

<div class="card">
    <div class="card-header sub-role-theme"></div>
    <div class="card-body">
        <h4 class="card-title">Create new Role</h4>
        <hr />
        <form method="post" asp-action="CreateRole">
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Name" class="col-form-label"></label>
                    <div>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="form-group row">

                <div class="col-2">
                    <button class="btn btn-success btn-block">Create <i class="bi bi-check-square ml-1"></i></button>
                </div>

            </div>
        </form>
    </div>
</div>

