<a asp-action="Index" class="btn btn-primary mb-3"> <i class="bi bi-arrow-left-circle-fill"></i> Go back to User Management home</a>

<div class="row d-flex justify-content-center mt-3">
    <div class="col-lg-6">
        <div class="card text-center">
            <div class="card-header sub-role-theme">

            </div>
            <div class="card-body">
                <h5 class="card-title">List</h5>
                <p class="card-text">Access a list of all roles stored on the server.</p>
                <a asp-controller="UserManagement" asp-action="GetAllRoles" class="btn btn-primary">Go </a>
            </div>
            <div class="card-footer sub-role-theme"></div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card text-center">
            <div class="card-header sub-role-theme">

            </div>
            <div class="card-body">
                <h5 class="card-title">Create Role</h5>
                <p class="card-text">Create a new Role</p>
                <a asp-controller="UserManagement" asp-action="CreateRole" class="btn btn-primary">Go </a>
            </div>
            <div class="card-footer sub-role-theme"></div>
        </div>
    </div>
</div>