@model IdentityServer.Quickstart.PasswordReset.ResetPasswordViewModel;

@{
    ViewData["Title"] = "Reset";
}
<div>
    <div class="page-header">
        <h1>Password Reset</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Forgot your password? Don't worry you can easily reset it. </h3>
                </div>
                <div class="panel-body">
                    <form asp-controller="PasswordReset" asp-action="ResetPassword">
                        <input type="hidden" asp-for="Email" class="form-control"/>
                        <input type="hidden" asp-for="SecurityCode" class="form-control"/>
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="NewPassword"></label>
                                <input class="form-control"
                                       asp-for="NewPassword" autofocus>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmationPassword"></label>
                                <input class="form-control"
                                       asp-for="ConfirmationPassword" autofocus>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Modify</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

