.api-scopes-theme {
    background-color: rgb(112 4 255 / 11%) !important
}

.identity-resource-theme {
    background-color: rgb(3 153 241 / 11%) !important;
}

.client-theme {
    background-color: rgb(7 255 60 / 11%) !important;
}

.user-theme {
    background-color: rgb(255 133 7 / 11%) !important;
}

.sub-user-theme {
    background-color: rgb(255 41 7 / 11%) !important;
}
.sub-role-theme {
    background-color: rgb(255 247 7 / 23%) !important;
}
.cursor-pointer {
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    opacity:1;
}

/* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: #0085f8;
        color: white;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text */
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        position: absolute;
        z-index: 1;
    }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
