@model CreateIdentityResourceViewModel;
@section style{

    <link href="~/css/TagsInput.css" rel="stylesheet" />
}
@{
    if (ViewBag.isSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Your new identity resource has been added successfully. <br />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<a asp-action="GetAll" class="btn btn-primary mb-3"> <i class="bi bi-arrow-left-circle-fill"></i> Go back to List </a>

<div class="card">
    <div class="card-header identity-resource-theme"></div>
    <div class="card-body">
        <h4 class="card-title">Create new Identity Resource</h4>
        <hr />
        <form method="post" asp-controller="IdentityResources" asp-action="Create">
            <div class="row">
                <div class="form-group col-6">
                    <LabelInfo asp-for="Name"></LabelInfo>
                    <div>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

                <div class="form-group col-6">
                    <LabelInfo asp-for="DisplayName"></LabelInfo>
                    <div>
                        <input asp-for="DisplayName" class="form-control" />
                    </div>
                    <span class="text-danger" asp-validation-for="DisplayName"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <LabelInfo asp-for="UserClaims"></LabelInfo>

                    <div class="keyHandler d-flex">
                        <button class="btn centered" type="button" id="addKey"> <i class="bi bi-plus"></i> </button>
                        <input type="text" placeholder="Keyword + Enter" id="keysInput">
                    </div>
                    <div class="addedKeysHolder"></div>


                    <input id="tag-holder" asp-for="UserClaimsString" type="hidden">
                    <span class="text-danger" asp-validation-for="UserClaims"></span>

                </div>
            </div>
            <hr />

            <div class="form-group row">

                <div class="col-2">
                    <button class="btn btn-success btn-block">Create <i class="bi bi-check-square ml-1"></i></button>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/site.js")"></script>
}