<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-header api-scopes-theme">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Api Scopes</h5>
                    <p class="card-text">Manage the api Scopes of the server and their requirements.</p>
                    <a  asp-controller="ApiScopes" asp-action="Index" class="btn btn-primary">Go</a>
                </div>
                <div class="card-footer api-scopes-theme"></div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-header identity-resource-theme">

                </div>
                <div class="card-body">
                    <h5 class="card-title">Identity Resources</h5>
                    <p class="card-text">Manage the Identity Resources of the server.</p>
                    <a asp-controller="IdentityResources" asp-action="Index" class="btn btn-primary">Go</a>
                </div>
                <div class="card-footer identity-resource-theme"></div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-header client-theme">

                </div>
                <div class="card-body">
                    <h5 class="card-title">Client</h5>
                    <p class="card-text">Manage the Clients of the server and their accesses.</p>
                    <a asp-controller="Clients" asp-action="Index" class="btn btn-primary">Go</a>
                </div>
                <div class="card-footer client-theme"></div>
            </div>
        </div>

    </div>
    <div class="row d-flex justify-content-center mt-3">
            <div class="col-lg-6">
                <div class="card text-center">
                    <div class="card-header user-theme">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <p class="card-text">Manage the Users and the Roles of the server.</p>
                        <a asp-controller="UserManagement" asp-action="Index" class="btn btn-primary">Go </a>
                    </div>
                    <div class="card-footer user-theme"></div>
                </div>
            </div>
    </div>
</div>
