<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Api Scopes</h5>
                    <p class="card-text">Manage the api Scopes of the server and their requirements.</p>
                    <a  asp-controller="ApiScopes" asp-action="Index" class="btn btn-primary">Go</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <h5 class="card-title">Identity Resources</h5>
                    <p class="card-text">Manage the Identity Resources of the server.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <h5 class="card-title">Client</h5>
                    <p class="card-text">Manage the Clients of the server and their accesses.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>

    </div>
    <div class="row d-flex justify-content-center mt-3">
            <div class="col-lg-6"">
                <div class="card text-center">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <p class="card-text">Manage the Users of the server and their Claims.</p>
                        <a href="#" class="btn btn-primary">Go </a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
    </div>
</div>
